 body{
    margin: 0;
    padding: 0;
 }
 /*selector de etiqueta*/
 label{
    color: #494949;
    font-size: 20px;
}

/*selector de id*/
#nombre{
    border-color: red;
}

.input-texto{
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 250px;
    height: 30px;
    margin-top: 5px;
}

/*selector de clase*/
.formulario{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    width: 300px;
    /*centrar el formulario*/
    margin-left: auto;
    margin-right: auto;
}

#div-izq{
    max-width: 49%;
    display: inline-block; /*block none inline */
    position: relative; /* fixed absolute*/
    text-align: justify; /* center right left */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#div-der{
    max-width: 49%;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
